<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant)%></h3>
    <p><%= restaurant.address%></p>
    <p><%= restaurant.phone_number%></p>
    <p><%= restaurant.category%></p>
  </li>
</ul>
<%end %>
<p><%= link_to 'Create Restaurant', new_restaurant_path%></p>
