<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address%> <%=@restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.content %></li>
    <li>Rating: <%= review.rating %></li>
  <% end %>
</ul>

<p><%= link_to 'Back', restaurants_path %></p>
<p><%= link_to 'Review', new_restaurant_review_path(@restaurant) %></p>

